body{
    font-family: Helvetica;
    background-color: #73A9AD;
}

.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 2px 4px 15px 2px rgba(0,0,0,.3);
    border-radius: 10px;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: whitesmoke;
    border: 1px solid #999;
    overflow-x: scroll;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: whitesmoke;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}

.button:hover {
    background-color: #367478;
    color: white;
    transition: 0.2s ease-in-out;
}